@use "utilities" as u;

.menu{
    background-image: url(../media/hosla.png);
    background-size: contain;
    background-position: center;
    display: flex;
    margin: auto;
    border-bottom: 5px solid map-get(u.$colors, "color4");

        &__content{
        }

        &__content__title{
            margin: 3em auto 0;
            display: flex;
            justify-content: center;
        }
}

// INFO MENU

.info-menu{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: u.$font-first;
    background-color: map-get(u.$colors, "color5");

        &__content{
            display: flex;
            margin: 5em auto;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__menu__content{
            display: flex;
            margin: auto;
            justify-content: center;
        }

        &__menu__local{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__menu__title{
            color: #e23c3c;
            border: 3px solid map-get(u.$colors, "color3");
            margin: auto;
            justify-content: center;
            display: flex;
            text-align: center;
            font-weight: 600;
        }

        &__menu__link{
            text-decoration: none;
            margin: 3em auto 0;
            display: flex;
        }

        &__menu__link p{
            color: #f4f0e7;
            background-color: map-get(u.$colors, "color3");
            outline: 3px solid map-get(u.$colors, "color3");
            outline-offset: 3px;
            font-size: 1.5em;
            padding: 0.5em 2em;
        }

        &__menu__link p:hover{
            color: map-get(u.$colors, "color4");
            outline: 3px solid map-get(u.$colors, "color4");
        }

        &__take__content{
            margin: 5em auto 0;
        }

        &__take__img{
            
        }
}