@use "utilities" as u;

*{
    box-sizing: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home{
    display: flex;
    background-image: url(../media/background-wantan.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    font-family: u.$font-first;

        &__content{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            margin: auto;
        }

        &__content__title{
            margin: 0 auto;
            width: 100%;
            display: flex;
            object-fit: cover;
        }

        &__content__subtitle{
            margin: 1em auto 0;
            color: map-get(u.$colors, "color1");
            font-size: 1.2em;
            text-align: center;
        }

        // LINKS

        &__content-links{
            margin: 2em auto 1em;
            justify-content: center;
            display: flex;
            font-family: u.$font-first;
            transition: all 0.5s;
        }

        &__content-links__link{
            display: flex;
            margin: auto;
            width: 100%;
            padding: 0.3em;
            text-decoration: none;
        }

        &__content-links__link-text{
            display: flex;
            margin: 0.5em 0.7em;
            width: 100%;
            padding: 0.3em;
            color: map-get(u.$colors, "color1");
            outline: 2px solid map-get(u.$colors, "color1");
            text-decoration: none;
            justify-content: center;
            transition: all 0.1s;
            filter: drop-shadow(0px 0px 2px #474747);
        }

        &__content-links__link-text:hover{
            outline-offset: 3px;
            color: map-get(u.$colors, "color4");
            outline: 2px solid map-get(u.$colors, "color4");
        }

        &__content-links__link:focus > &__content-links__link-text{
            background-color: map-get(u.$colors, "color3");
            color: map-get(u.$colors, "color1");
            outline: 2px solid map-get(u.$colors, "color1");
        }

        // SOCIAL MEDIA

        &__content-sm{
            display: flex;
            justify-content: center;
            margin: 4em auto 0;
        }

        &__content-sm__content{
            display: flex;
            width: 100%;
            margin: auto 0.1em;
        }

        &__content-sm__link{
            color: map-get(u.$colors, "color3");
            margin: auto;
            display: flex;
            border-radius: 50%;
            height: 43px;
            opacity: 0.8;
            transition: all 0.2s;
            text-decoration: none;
            background-color: map-get(u.$colors, "color1");
        }

        &__content-sm__link:hover{
            opacity: 1;
            color: map-get(u.$colors, "color4");
            background-color: map-get(u.$colors, "color3");
        }

        &__content-sm__svg{
            display: flex;
            height: 100%;
            margin: auto;
            transition: all 0.2s;
            padding: 0.4em;
        }

        &__content-sm__img{
            display: flex;
            margin: auto;
            padding: 0.7em;
        }

        &__content-sm__svg:hover > &__content-sm__img{
            display: flex;
            margin: auto;
            fill: map-get(u.$colors, "color4");
            padding: 0.7em;
        }

}

.abajo{
    position: sticky;
    top: -15px;
    padding: 0 0 1em 0;
}

.abajo-links{
    display: none;
    margin: 0.5em auto;
    transition: all 0.5s;
}



// MENU

.menu{
    background-image: url(../media/background-red.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: auto;
    border-bottom: 5px solid map-get(u.$colors, "color4");

        &__content{
        }

        &__content__title{
            margin: 2em auto 0;
            display: flex;
            justify-content: center;
        }
}

// INFO MENU

.info-menu{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: u.$font-first;
    background-image: url(../media/background-chinese-1.png);
    background-size: contain;
    background-color: map-get(u.$colors, "color5");

        &__content{
            display: flex;
            margin: 3em auto;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__menu__menu-content{
            margin: auto;
            justify-content: center;
        }

        &__menu__content{
            display: flex;
            margin: auto;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__menu__local{
            margin: 1em auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__menu__img-content{
            padding: 2em;
            display: flex;
            margin: auto;
            justify-content: center;
        }

        &__menu__img{
            margin: auto;
            display: flex;
        }

        &__menu__title{
            color: map-get(u.$colors, "color3");
            border: 3.5px solid map-get(u.$colors, "color3");
            margin: auto;
            justify-content: center;
            display: flex;
            padding: 1em;
            text-align: center;
            font-weight: 600;
        }

        &__menu__link{
            text-decoration: none;
            margin: 2em auto 0;
            display: flex;
        }

        &__menu__link p{
            color: #f4f0e7;
            background-color: map-get(u.$colors, "color3");
            outline: 3px solid map-get(u.$colors, "color3");
            outline-offset: 3px;
            font-size: 1.5em;
            margin: auto;
            padding: 0.5em 2em;
        }

        &__menu__link p:hover{
            color: map-get(u.$colors, "color4");
            outline: 3px solid map-get(u.$colors, "color4");
        }

        &__take__content{
            margin: 3em auto 0;
        }

        &__take__img{
            
        }

        // HORARIOS

        &__horario__title{
            color: map-get(u.$colors, "color5");
            background-color: map-get(u.$colors, "color3");;
            margin: 1em auto 0;
            text-align: center;
            border: 3.5px solid map-get(u.$colors, "color3");
            font-size: 1.7em;
            font-weight: 600;
        }

        &__horario__hora{
            color: map-get(u.$colors, "color3");
            border: 4px solid map-get(u.$colors, "color3");
            margin: 0.3em auto 1em;
            text-align: center;
            font-size: 1.5em;
        }
}

// GIFT CARD

.gift-card{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: u.$font-first;
    background-image: url(../media/background-chinese-1.png);
    background-size: contain;
    background-color: map-get(u.$colors, "color5");

        &__content{
            display: flex;
            margin: 3em auto;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__banner__content{
            margin: auto;
        }

        &__title{
            color: map-get(u.$colors, "color5");
            background-color: map-get(u.$colors, "color3");
            padding: 1em;
            justify-content: center;
            font-size: 1.7em;
            text-align: center;
            display: flex;
            margin: 0 auto 0.5em;
            align-items: center;
            font-weight: 600;
        }

        &__text{
            color: map-get(u.$colors, "color3");
            font-size: 1.1em;
            justify-content: center;
            margin: 1em 0.3em 0.5em;
            display: flex;
            text-align: justify;
            padding: 1em 1em;
            align-items: center;
            font-weight: 600;
        }
}

// GALERIA

.galeria{
    margin: auto;
    display: flex;
    padding: 4em 0;
    background-image: url(../media/background-chinese-1.png);
    background-size: contain;
    justify-content: center;
    background-color: map-get(u.$colors, "color5");
    
        &__content{
            margin: auto;
            justify-content: center;
        }

        &__img-vertical{
            height: 650px;
            object-fit: cover;
        }

        &__img-horizontal{
            height: 300px;
            object-fit: cover;
        }
}

// FOOTER

.footer{
    background-color: map-get(u.$colors, "color5");
    border-top: 5px solid map-get(u.$colors, "color4");
    color: map-get(u.$colors, "color3");
    display: flex;
    margin: auto;
    padding: 0.5em 0;
    font-family: u.$font-first;
    justify-content: center;

        &__text{
            margin: auto 0;
            text-align: center;
        }

        &__link{
            text-decoration: none;
            color: map-get(u.$colors, "color3");
            margin: auto 0;
        }

        &__link:hover{
            color: #474747;
        }

        &__logo{
            transform: scale(0.8);
            height: fit-content;
        }
}